<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">New Message</a>
    <section>
      <% messages.map((message)=>{ %>
      <div>
        <span><%= message.username %></span>
        <p><%= message.text %></p>
        <a href="/details/<%= message.id %>">Open</a>
      </div>
      <% }) %>
    </section>
  </body>
</html>
